.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(282, 15%, 80%);
  }
  100% {
    background-color: hsl(282, 15%, 95%);
  }
}
